<h1 class="heading">{{ title }}</h1>
<div class="card-container">
  <div class="card" *ngFor="let contest of contests">
    <img src="{{ getRandomImage() }}" alt="contest" class="card-img-top" />
    <div class="card-data">
      <h1 class="card-title">{{ contest.name }}</h1>
      <h3>
        Start Time:
        <span class="contest-data">{{
          formatDateAndTime(contest.start_time)
        }}</span>
      </h3>
      <h3>
        End Time:
        <span class="contest-data">{{
          formatDateAndTime(contest.end_time)
        }}</span>
      </h3>
      <h3>
        Duration:
        <span class="contest-data"
          >{{ secondsToHours(contest.duration) }} Hours</span
        >
      </h3>
      <h3>
        Website: <span class="contest-data">{{ contest.site }}</span>
      </h3>
      <h3>
        Starts in 24 hours ?
        <span class="contest-data">{{ contest.in_24_hours }}</span>
      </h3>
      <h3>
        Status: <span class="contest-data">{{ contest.status }}</span>
      </h3>
    </div>
    <a href="{{ contest.url }}" target="_blank" class="contest-btn"
      >Participate</a
    >
  </div>
</div>
